html, body {
    height: 100%;
    margin: 0;
    text-align: left;
}

.map {
    height: 100%;
    width: 100%;
    font-size: initial;
    position: relative;
    padding-bottom:20px;
}

#container {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 350px auto;
    grid-template-rows: auto auto auto 20px;
    grid-template-areas: 
    "h h"
    "m t"
    "m c"
    "f f";
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

#header {
    grid-area: h;
    background-color: rgb(67, 165, 67);
    padding: 10px;
    color: white;
    font-size: 2em;
    font-weight: 600;
}

#menu {
    /* height: 100%; */
    grid-area: m;
    background-color: rgb(157, 218, 157);
    padding: 10px;
}

#toolbar {
    grid-area: t;
    background-color: rgb(208, 255, 208);
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 1em;
}

#content {
    /* height: 100%; */
    grid-area: c;
    background-color: white;
}

#footer {
    grid-area: f;
    background-color: white;
    font-size: 10pt;
    text-align: center;
    min-height: 1em;
}


/* MOBILE SCREENS */
@media only screen and (max-width: 600px) {
    #container {
        height: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 15px;
        grid-template-areas: 
        "h"
        "m"
        "t"
        "c"
        "f";
    }
}
/* #map-wrapper {
    position: relative;
}

#map {
    position: absolute;
    height: 400px;
    width: 800px;
} */

.scale-line {
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.ol-scale-line {
    position: relative;
    bottom: 0px;
    left: 0px;
}

.layer-switcher {
    /* top: 1em; */
    /* left: 1em; */
    /* right: unset; */
}
.ol-scale-line {
    /* position: absolute; */
    /* width: 120px; */
    z-index: 1000;
    /* top: 400px;
    left: 650px; */
}

#infowindow {
    right: 10px;
    top: 10px;
    background-color: #ffffff;
    position: absolute;
    border: 1px solid #000000;
    background-color: white;
    width: 350px;
    height: calc(100% - 40px);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));    
    z-index: 1000;
    display: none;
}
.infowindow-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    }
    .infowindow-closer:after {
    content: "✖";
}

#infowindow-header {
    padding: 10px;
    color: white;
    background-color: green;
    font-weight: bold;
}

#infowindow-content {
    /* padding: 0px 10px; */
}

#infowindow-content .attr-table {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    /* margin: 10px 0px; */
    font-size: 0.8em;
}

#infowindow-content .attr-table div {
    border-top: 1px solid lightgray;
    padding: 3px 6px;
}

#infowindow-content .gap-status-head {
    background: #4ebd57;
    color: white;
    font-weight: bold;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }

#info {
    clear: both;
}

form {
    z-index: 1000000;
}

#type {
    /* display: none; */
}

input[name='style-filter'] {
    display: none;
}

#style-filter-control-title {
    margin: 10px 0px;
}

#style-filter label {
    display: inline-block;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
    -webkit-appearance: button;
    /* WebKit */
    -moz-appearance: button;
    /* Mozilla */
    -o-appearance: button;
    /* Opera */
    -ms-appearance: button;
    /* Internet Explorer */
    appearance: button;
    /* CSS3 */
}

#style-filter-legend {
    padding: 10px;
    background-color: white;
}


.searchbox-container {
    margin-bottom: 20px;
}

.searchbox-title {
    background-color: #02970f;
    padding: 5px 10px;
    color: white;
    font-size: 1em;
    margin: 1px 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */}

.searchbox-content {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid lightslategray;
}

.select2-container {
    width: 228px;
}

textarea#cql-filter-query {
    max-width: 300px;
}

#cql-filter {
    display: none;
}

.radio-buttons {
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}

.radio-buttons input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.radio-buttons label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */}

.radio-buttons label:hover {
    cursor: pointer;
}

.radio-buttons input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.radio-buttons label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.radio-buttons label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.search-box-helptext {
    font-size: 0.8em;
}

#selection-layer span {
    float: left;
    margin: 6px 10px;
}

#selection-layer .radio-buttons {
    margin-bottom: 0px;
}